---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>こんにちは、你好~
			</h1>
			<p>
				ここは余裕持ってなにかをするところです。<br/>
				這裡是我放鬆寫些無聊東西的地方。
			</p>
			<p>
				余裕持ってないと、何もしない。<br/>
				忙的時候，大概也不會做啥更新。
			</p>
			<p>
				そして文章書くのが苦手だから、自分向けに書いているかも<br/>
				並且我平時也不怎麼寫文章，所以主要還是寫給自己的
			</p>
			<p>
				っていうことでね、んじゃ<br/>
				就這樣，掰
			</p>
		</main>
		<Footer />
	</body>
</html>
